<form id="form">

  <label>Product:</label><input type="text" name="title" id="title">
  <label>Description:</label><input type="text" name="description" id="description">
  <label>Price:</label><input type="text" name="price" id="price">
  <input type="submit" value="SEND">
</form>

<h1>Lista de Productos</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
  </thead>

<table>
  <tbody id="productTable">

  </tbody>
</table>

<script src="socket.io/socket.io.js"></script>
<script src="js/index.js"></script>