<h1 class="text-center">Socket Client</h1>

<div id="messages"></div>

<div id="error" class="text-center h1 text-danger"></div>
<form id="formSockets" class="text-center mb-5 mx-5">
    <div class="form-outline">
        <input placeholder="Enter message" class="form-control" id="message" rows="4"></input>
    </div>
    <button id="buttonSendMessage" type="submit" value="SEND" class="btn btn-primary">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js" charset="utf-8"></script>